@font-face {
  font-family: gameFont;
  src: url("../fonts/PressStart2P.ttf");
}
* {
  box-sizing: border-box;
}

body {
  background-image: url("../image/background.jpg");
  background-size: cover;
}

.main-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.titulos-game {
  font-family: gameFont;
  font-size: 3em;
  width: 100%;
}

#main-titulo {
  width: 70% !important;
}

.text-install {
  font-family: gameFont;
}

#panel-tablero {
  width: 700px;
  height: 700px;
  border: 10px solid #e87306;
  background: rgba(232, 115, 6, 0.5);
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
}

#panel-tablero > div {
  height: 6.05em;
  width: 6.05em;
  background-size: contain;
}

#panel-score-and-best-scores {
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#panel-score {
  width: 100%;
}

#best-scores {
  width: 30%;
}

.div-flex {
  height: 700px;
  display: flex;
  flex-flow: column nowrap;
}

#content-best-score {
  display: flex;
  flex-direction: column;
}

#content-best-score > div {
  width: 100%;
  margin-bottom: 0.8em;
  display: flex;
  flex-direction: row;
}

#content-best-score > div > img {
  float: left;
  width: 2.5em;
  margin-left: 1em;
}

#content-best-score > div > span {
  line-height: 2.5em;
  margin-left: 1.5em;
}

#score,
#moves,
#time,
#section-best-score {
  text-align: center;
  height: 23%;
  width: 100%;
  border: 10px solid #e87306;
  border-radius: 5px;
  background: rgba(232, 115, 6, 0.5);
  margin-bottom: 4em;
}

.buttons {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.data-titulo,
.data-info {
  font-family: gameFont;
  color: #e8ca06;
}
.titulo-over {
  font-family: gameFont;
  font-size: 3em;
  text-align: center;
  color: #dcff0e;
}
#btn-reinicio {
  background: #e8ca06;
  border: 6px solid #ffb206;
  border-radius: 5px;
  font-family: gameFont;
  font-size: 1.2em;
  color: #ff4007;
}
#btn-reinicio:hover {
  color: #fff;
  cursor: pointer;
}
#btn-reinicio:active {
  font-size: 1em;
}
.data-info {
  font-size: 1.8em;
}

.elemento {
  width: 99.4px;
  height: 96px;
}

.noShow {
  display: none !important;
}

.flex {
  display: flex;
}

/* Inicio : Cambio color titulo */
.color-yellow {
  color: #dcff0e;
}

.color-white {
  color: white;
}
/* FIn : Cambio color titulo */

/* Inicio : Temporizador */
#timer {
  text-align: center;
}

.minutesTimer {
  width: 54%;
  text-align: right;
}

.secondsTimer {
  width: 46%;
  text-align: left;
}
/* Fin : Temporizador */
#installContainer {
  width: 30%;
  margin-top: 1.6em;
  float: right;
}

#installContainer > button {
  background-image: linear-gradient(to top, #1b75bb 0%, #112d4e 100%);
  border: 1px solid #fff;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  border-radius: 0.5em;
  width: 100%;
  padding: 1em;
}

#installContainer > button > img {
  width: 3em;
}
